.contact__container {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%;
}

.contact__options {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.contact__options .contact__option {
  text-align: center;
  background-color: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid transparent;
  transition: var(--transition);
}

.contact__options .contact__option:hover {
  background-color: var(--color-bg);
  border-color: var(--color-primary);
}

.contact__options .contact__option h4 {
  margin-top: 0.5rem;
}

.contact__options .contact__option h5 {
  margin-bottom: 0.5rem;
}

.contact__container .form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: 1rem;
}

.contact__container .form input,
.contact__container .form textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-primary);
  background: transparent;
}

/* ************************  Media Queries  (medium devices:tablets)************************** */

@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 35% 60%;
    gap: 5%;
  }
  
}

/* ************************  Media Queries  (small devices:mobiles)************************** */

@media screen and (max-width: 600px) {
  .contact__container {
    grid-template-columns: 1fr;
  }
  .contact__container .form {
    align-items: center;
  }
}
